ORTHOS2_NETBOX_AUTH_SCHEME=
ORTHOS2_NETBOX_URL=
ORTHOS2_SUPERUSER_PASSWORD=
ORTHOS2_DB_ENGINE=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
CSRF_ALLOWED_ORIGIN=
CROSS_ORIGINS_WHITELIST=
OIDC_ENDPOINT=
NETBOX_SUPERUSER_NAME=
NETBOX_SUPERUSER_PASSWORD=
